.movie-list{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    justify-content: center;
}
.movie-card{
    border: 5px solid white;
    padding: 20px;
    margin: 20px;
    width: 25%;
    height: 500px;
}
.movie-image{
    width: 90%;
    height: 300px;
}
.movie-cart h1{
    font-size: 35px;
    text-align: center;

}